*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box; 
}

body {
  background-color: rgb(55, 0, 255);
  
}


.logo a {
  color: black;
  text-decoration: none;
}
.logo img {
  border-radius: 65px;
  width: 130px;
}

nav:hover {
  background-color: yellow;
}
nav {
  margin-right: 50px;
}
nav a {
  margin-left: 100px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}


header {
  padding: 10px 20px;
  background-color: #f8a2ec;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
header .logo {
  width: 170px;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 85px;
  display: inline-block;
  vertical-align: middle;
}

header span {
  margin-left: 20px;
  
}
header nav {
  border: 3px solid red;
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.footer {
  text-align: center;
}
.aboutme-myworks {
  display: flex;
  justify-content: center;
}
.contact {
  display: flexbox;
  justify-content: center;
}
